<!DOCTYPE html>
<html>

<head>
    <title>Asistencia Autom&aacute;tica</title>

    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
	<link rel="stylesheet" href="estilos_asistente.css">

</head>

<body>
  
  <% include navbar.ejs %>

  <div class="contenido_ggral">
  
  	 <div class="encabezado_asis">
     	<div class="ico_asis_buscar">
     	</div>
     	<div class="tit_asis_ppal">
     	<span class="titulo_content">Bienvenido al Buscador: </span><br>
     	<span class="subtitulo">(escoja criterio a buscar)</span><br><br>
     	</div>
  	 </div>
     
       
  
     
     <div class="caja_central_buscar">
     
     	<div class="radio_botton_1">
        	<input name="Buscar estudiante" type="radio" value="Buscar_estudiante" checked>
        	Buscar Estudiante<br><br>
            <input name="" type="radio" disabled value="Buscar_estudiante"> Buscar Curso
        </div>     
     
     	<div class="radio_botton_2">
        	<span>Texto a cambiar dependiendo de la opcion</span><br>
            <input class="campo_captura" type="text" name="name" placeholder="">
     		<input class="boton_asist" type="submit" value="Buscar">
       

	</div>
    
     
     <!-- hasta acá va el form -->
     
      </div>
     
     <br><br><br><br>
     
     <div>
     </div>
     </div></div> 
      
    <% include bootstrap.ejs %>
	
    <% include footer.ejs %>
		
</body>

</html>