<!DOCTYPE html>
<html>

<head>
    <title>Asistencia Autom&aacute;tica</title>

    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
	<link rel="stylesheet" href="estilos_asistente.css">

</head>

<body>
    <% include navbar.ejs %>
    
    
  <div class="contenido_ggral">
  
  	<div class="encabezado_asis">
     	<div class="ico_asis_cursos">
     	</div>
     	<div class="tit_asis_ppal">
     	<span class="titulo_content">Agregar curso: </span><br>
     	</div>
  	 </div>
    
 
  	 <div>
     
     <div class="caja_central">
     
  	<form action="/createCourse" method="POST">
    
    	 <span>Nombre del curso:</span><br>
         <input class="campo_captura" type="text" name="name" placeholder=""><br>
         
         <span>Agregue lista de estudiantes:</span><br>
         <textarea class="text_area_asis" name="students" cols="30" rows="5"></textarea>
         <br>
         <br>
         <div class="boton_enviar">         
     	 <input class="boton_asist" type="submit" value="Enviar">
         </div>
     
     </form>
     
    
     </div>
     
     <br><br><br><br>
     
     <div>
     </div>

    <% include bootstrap.ejs %>
	
	<% include footer.ejs %>
</body>

</html>