.nav-item{
	font-size: 100px;
	color: #F00;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
.ensayi{
	font-family: "Courier New", Courier, monospace;
	font-size: 36px;
	color: #CC0;
	background-color: #C00;
	height: 50px;
	width: 100%;
}