
<!DOCTYPE html>
<html>

<head>
    <title>Asistencia Autom&aacute;tica</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
	<link rel="stylesheet" href="estilos_asistente.css">

</head>

<body>
  
  <% include navbar.ejs %>

  <div class="contenido_ggral">
  
  	 <div class="encabezado_asis">
     	<div class="ico_asis_estudiante">
     	</div>
     	<div class="tit_asis_ppal">
     	<span class="titulo_content">Adicionar Estudiante: </span><br>
     	<span class="subtitulo">(solo una foto por estudiante)</span><br><br>
     	</div>
  	 </div>
     
       
  	 <div>
     
     <div class="caja_central">
     
  	 <form action="/createStudent" method="POST" enctype="multipart/form-data">
    
    	 <span>Nombre del estudiante:</span><br>
         <input class="campo_captura" type="text" name="name" placeholder=""> <br>
         
         
         <input class="select_atta" type="file" name="picture" accept="application/x-zip-compressed,image/*">
         <br>
         <br>
         <br>
         <div class="boton_enviar">         
     	 <input class="boton_asist" type="submit" value="Enviar">
         </div>
     
     </form>
     
     </div>
     
     <br><br><br><br>
     
     <div>
     </div>
     </div></div> 
      
    <% include bootstrap.ejs %>
	
    <% include footer.ejs %>
		
</body>

</html>