<style>

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('RobotoCondensed-Bold.eot');
	src: url('RobotoCondensed-Bold.eot') format('embedded-opentype'), url('RobotoCondensed-Bold.woff2') format('woff2'), url('RobotoCondensed-Bold.woff') format('woff'), url('RobotoCondensed-Bold.ttf') format('truetype'), url('RobotoCondensed-Bold.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('RobotoCondensed-Regular.eot');
	src: url('RobotoCondensed-Regular.eot') format('embedded-opentype'), url('RobotoCondensed-Regular.woff2') format('woff2'), url('RobotoCondensed-Regular.woff') format('woff'), url('RobotoCondensed-Regular.ttf') format('truetype'), url('RobotoCondensed-Regular.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Light';
	src: url('RobotoCondensed-Light.eot');
	src: url('RobotoCondensed-Light.eot') format('embedded-opentype'), url('RobotoCondensed-Light.woff2') format('woff2'), url('RobotoCondensed-Light.woff') format('woff'), url('RobotoCondensed-Light.ttf') format('truetype'), url('RobotoCondensed-Light.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed-Italic.ttf';
	src: url('RobotoCondensed-Italic.eot');
	src: url('RobotoCondensed-Italic.eot') format('embedded-opentype'), url('RobotoCondensed-Italic.woff2') format('woff2'), url('RobotoCondensed-Italic.woff') format('woff'), url('RobotoCondensed-Italic.ttf') format('truetype'), url('RobotoCondensed-Italic.svg#OpenSans') format('svg');
}


body{
	margin: 0;
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 13px;
}

.nombre_aplica{
	background-color: #777777;
	background-image: url(img/fond_asitencia.png)!important;
	background-repeat: repeat;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-position: center center;
	overflow: hidden;
	}

.titulo_asist{
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	background-image: url(img/titulo.png) !important;
	background-repeat: no-repeat;
	background-position: center center;
	height: 65px;
	width: 493px;
	overflow: hidden;
	}

.bg-dark {
    background-color: #55CAAA !important;
	margin: auto;
	height: 45px;
	width: 100%;
}

.nav-link{
	font-family: 'RobotoCondensed-Regular', sans-serif;
	font-size: 16px;
	color: #FFF !important;
	text-decoration: none;
    background-color: #55CAAA !important;
	padding-left: 5px !important;
	}
	
.nav-link:hover{
	color: #FFFFEC !important;
    background-color: #55CAAA !important;
	}

.espacio{
	background-color: #FFF;
	margin: auto;
	height: 30px;
	width: 100%;
	overflow: hidden;
	}


</style>

<div class="nombre_aplica">
  <div class="titulo_asist"></div>
</div>  

<div class="menu_ppal"> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <% if (loggedIn) { %>
                 <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
            	 <li class="nav-item">
                    <a class="nav-link" href="/picture">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/asitencia">Asistencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Cursos</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/logout">Salir</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            <%  } %>
        </ul>
    </div>
</nav>
</div>

<div class="espacio"></div>

 <% if(messages.danger) { %>
    <div class="alert alert-danger alert alert-dismissible fade show" role="alert">
        <%= messages.danger %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>    
<% } %> 

<!-- <% if(messages.success) { %>
    <div class="alert alert-success alert alert-dismissible fade show" role="alert">
        <%= messages.success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> -->

<% if(messages.info) { %>
    <div class="alert alert-info alert alert-dismissible fade show" role="alert">
        <%= messages.info %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>    
<% } %>